*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}

.inside_box{
    width: 30%;
    padding: 50px;
    background : transparent;
    backdrop-filter: blur(5px);
    border: 2px solid gray;
    box-shadow: 0 0 10px rgba(142, 142, 142, 0.614);
    border-radius: 3%;
}

.input_size{
    width: 100%;
    padding: 5px;
    background-color: rgb(0,0,0);
    background-color: rgba(255, 255, 255, 0.345);
}

.submit_size{
    width: 100%;
    padding: 5px;
}

::placeholder {
    color: rgb(40, 40, 40);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(40, 40, 40);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(40, 40, 40);
}
