*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

.seebmi{
    text-align: center;
    font-size: 35px;
}

body{
    display: flex;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.box_border{                  /*All backdrop-filter(blur) in this box will do the work, so other box wont need to add more this function*/
    width: 30%;
    padding: 30px;
    background : transparent;
    backdrop-filter: blur(5px);
    border: 2px solid gray;
    box-shadow: 0 0 10px rgba(142, 142, 142, 0.6);
    border-radius: 40px;
}

.input_style{
    width: 100%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid gray; 
    border-radius: 40px;
    font-size: 15px;
}

.submit_style{
    width: 30%;
    padding: 5px;
    border-color: rgba(59, 59, 59, 0.6);
    border-radius: 40px;
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.output_style{
    font-size: 18px;
    color: white;
}

::placeholder {
    color: rgb(40, 40, 40);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(40, 40, 40);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(40, 40, 40);
}

@media(max-width:500px){

    .seebmi{
        width: auto;
        font-size: 25px;
    }

    .box_border{
        width: 70%;
    }

    .input_style{
        font-size: 10px;
    }

    .output_style{
        font-size: 10px;
    }

    .submit_style{
        width: 40%;
    }

}
