*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url("https://celcliptipsprod.s3-ap-northeast-1.amazonaws.com/tips_article_body/774e/1644951/a15f06f41d79337c6ebde50c20969fee");
    background-size: cover;
    background-position: center;
}

.box_centre{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    
}

.inside_box{
    width: 30%;
    padding: 50px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    background-position: center;
    border: 5px solid gray;
    border-radius: 3%;
    border-color: rgb(0,0,0);
    border-color: rgba(106, 105, 105, 0.4);
}

.input_size{
    width: 100%;
    padding: 5px;
    background-color: rgb(0,0,0);
    background-color: rgba(167, 167, 167, 0.604);
}

.submit_size{
    width: 100%;
    padding: 5px;
}

::placeholder {
    color: whitesmoke;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: whitesmoke;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: whitesmoke;
}
